@font-face {
  font-family: 'icomoon';
  src:  url('icon-fonts/icomoon.eot?7a7f9f');
  src:  url('icon-fonts/icomoon.eot?7a7f9f#iefix') format('embedded-opentype'),
    url('icon-fonts/icomoon.ttf?7a7f9f') format('truetype'),
    url('icon-fonts/icomoon.woff?7a7f9f') format('woff'),
    url('icon-fonts/icomoon.svg?7a7f9f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 85%;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-mic:after {
  content: "\e91e";
}
.icon-volume-low:before {
  content: "\ea28";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
